@{
    ViewData["Title"] = "creditos";
}
<section class = "creditos">
    <h1>Desarrolladores de esta web</h1>
    <a href= '@Url.Action("Index","Home")'>Inicio</a>
    <div>
    <img src="~/imagenes/andi.png" alt = "Andi">
    <h2>Andres Perel</h2>
    </div>
    <div>
    <img src="~/imagenes/uri.png" alt = "Uri">
    <h2>Uriel Hamu</h2>
    </div>
    <div>
    <img src="~/imagenes/Tobi.jpg" alt = "Tobi">
    <h2>Tobi Turquie</h2>
    </div>
</section>
