@{
    ViewData["Title"] = "Index";
}

<h1>¡Bienvenidos a la famosa sala de escape de Homero Simpson!</h1>
<ul>
    <li><a href= '@Url.Action("sala1","Home")'>Comenzar el juego</a></li>
    <li><a href= '@Url.Action("creditos","Home")'>Conocé a los creadores</a></li>
</ul>
