@{
    ViewData["Title"] = "Index";
}
<section class = "Index">
<h1>¡Bienvenidos a la famosa sala de escape de Homero Simpson!</h1>
<a href= '@Url.Action("intro","Home")'>Comenzar el juego</a>
<a href= '@Url.Action("creditos","Home")'>Conocé a los creadores</a>
</section>
