<p>Homero está en la cárcel, y Bart está jugando en el Manchester City. Hoy juega la final de la Champions League contra el Manchester United y Homero no se permititría faltar a 
este partido. Ayudalo a escapar!</p>
<a href= '@Url.Action("Index","Home")'>Volver al inicio</a>
<a href= '@Url.Action("jugar","Home", new {intento="a"})'>Comenzar</a>