@{
    ViewData["Title"] = "sala2";
}

<h1>¡La celda ya está abierta! </h1>
<h2>Hay muchos guardias y la luz está prendida, necesitamos apagarla.</h2>
<a href='@Url.Action("jugar","Home", new {pidioPista=true})'> Pista</a>

@if(ViewBag.pidioPista){<h3>@ViewBag.pista</h3>}
<form action='@Url.Action("jugar", "Home", new {pidioPista=false})' method="POST" enctype="application/x-www-form-urlencoded">
    <input type="text" name="intento"/>
    <input type="submit" name="Guardar"/>
</form>