@{
    ViewData["Title"] = "sala6";
}
<section class = "sala6">
<h1>Felicidades! Homero pudo escapar!</h1>
<a href='@Url.Action("jugar","Home", new {intento="final", pidioPista=false})'> Continuar</a>
</section>
