@{
    ViewData["Title"] = "sala3";
}
 <img src= "~/imagenes/fotoPista3.png" alt="foto base">  

<a href='@Url.Action("jugar","Home", new {pidioPista=true})'> Pista</a>
@if(ViewBag.pidioPista){<h3>@ViewBag.pista</h3>}
