@{
    ViewData["Title"] = "sala1";
}

<h1>¡Comienza la fuga!</h1>
<h2>Su celda está cerrada con un candado digital que se abre con una clave. ¡Cuidado! La clave no es siempre igual.</h2>

<form action='@Url.Action("jugar", "Home")' method="POST" enctype="application/x-www-form-urlencoded">
    Ingrese su intento: <input type="text" name="intento"/>
    <input type="submit" value="Guardar"/>
</form>
