@{
    ViewData["Title"] = "sala5";
}
<section class = "sala5">

<h1>Tras el corte de luz, Homero está a solo un paso de salir, debe adivinar la siguiente frase para desbloquear la seguridad de la puerta secreta. ¡Pronto verá a Bart!</h1>


<a href='@Url.Action("jugar","Home", new {pidioPista=true})'> Pista</a>
@if(ViewBag.pidioPista){<h3>@ViewBag.pista</h3>}
</section>
